{% extends 'base.html.twig' %}

{% block body %}
    <h1>Дисциплина</h1>

    <table bordercolor="blue" border="1">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ subject.id }}</td>
            </tr>
            <tr>
                <th>Количество часов</th>
                <td>{{ subject.countHours }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('subject_index') }}">Назад к списку</a>
        </li>
        <li>
            <a href="{{ path('subject_edit', { 'id': subject.id }) }}">Обновить</a>
        </li>
        <li>
            <a href="{{ path('subject_delete', { 'id': subject.id }) }}">Удалить</a>
        </li>
    </ul>
{% endblock %}
