{% extends 'base.html.twig' %}

{% block body %}
    <h1>Дисциплина</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ subject.id }}</td>
            </tr>
            <tr>
                <th>Количество часов</th>
                <td>{{ subject.countHours }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('subject_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('subject_edit', { 'id': subject.id }) }}">Edit</a>
        </li>
        <li>
            <a href="{{ path('subject_delete', { 'id': subject.id }) }}">Delete</a>
        </li>
    </ul>
{% endblock %}
