<!DOCTYPE html>
<html>
{% block header %}
    <div id="wrapper">
        <h1>МЕНЮ</h1>
        <a href="{{ path('employee_index') }}">Сотрудник</a><br>
        <a href="{{ path('lecture_index') }}">Лекции</a><br>
        <a href="{{ path('student_index') }}">Студенты</a><br>
        <a href="{{ path('subject_index') }}">Дисциплина</a><br>
        <a href="{{ path('university_index') }}">Университет</a><br>
    </div>
{% endblock %}

{% block stylesheet %}
    <style>
        #wrapper {
            border: 3px solid #022866;
            border-radius: 0px 0px 0px 0px;
            text-align: center;
            line-height: 1.5;
        }
    </style>
{% endblock %}

    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
