{% extends 'base.html.twig' %}

{% block body %}
    <h1>Список студентов</h1>

    <table bordercolor="blue" border="1">
        <thead align="center">
            <tr>
                <th>Id</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Возраст</th>
                <th>Email</th>
                <th>Пароль</th>
                <th>Role</th>
                <th>Salt</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody align="center">
        {% for student in students %}
            <tr>
                <td><a href="{{ path('student_show', { 'id': student.id }) }}">{{ student.id }}</a></td>
                <td>{{ student.name }}</td>
                <td>{{ student.surname }}</td>
                <td>{{ student.age }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.password }}</td>
                <td>{{ student.role }}</td>
                <td>{{ student.salt }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('student_show', { 'id': student.id }) }}">Просмотр</a>
                        </li>
                        <li>
                            <a href="{{ path('student_edit', { 'id': student.id }) }}">Обновить</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('student_new') }}">Создать нового студента</a>
        </li>
    </ul>
{% endblock %}