{% extends 'base.html.twig' %}

{% block body %}
    <h1>Студент</h1>

    <table bordercolor="blue" border="1">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ student.id }}</td>
            </tr>
            <tr>
                <th>Имя</th>
                <td>{{ student.name }}</td>
            </tr>
            <tr>
                <th>Фамилия</th>
                <td>{{ student.surname }}</td>
            </tr>
            <tr>
                <th>Возраст</th>
                <td>{{ student.age }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ student.email }}</td>
            </tr>
            <tr>
                <th>Пароль</th>
                <td>{{ student.password }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ student.role }}</td>
            </tr>
            <tr>
                <th>Salt</th>
                <td>{{ student.salt }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('student_index') }}">Назад к списку</a>
        </li>
        <li>
            <a href="{{ path('student_edit', { 'id': student.id }) }}">Обновить</a>
        </li>
        <li>
            <a href="{{ path('student_delete', { 'id': student.id }) }}">Удалить</a>
        </li>
    </ul>
{% endblock %}
