{% extends 'base.html.twig' %}

{% block body %}
    <h1>Сотрудник</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ employee.id }}</td>
            </tr>
            <tr>
                <th>Имя</th>
                <td>{{ employee.name }}</td>
            </tr>
            <tr>
                <th>Фамилия</th>
                <td>{{ employee.surname }}</td>
            </tr>
            <tr>
                <th>Дисциплина</th>
                <td>{{ employee.position }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ employee.email }}</td>
            </tr>
            <tr>
                <th>Пароль</th>
                <td>{{ employee.password }}</td>
            </tr>
            <tr>
                <th>Должность</th>
                <td>{{ employee.role }}</td>
            </tr>
            <tr>
                <th>Salt</th>
                <td>{{ employee.salt }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('employee_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('employee_edit', { 'id': employee.id }) }}">Edit</a>
        </li>
        <li>
            <a href="{{ path('employee_delete', { 'id': employee.id }) }}">Delete</a>
        </li>
    </ul>
{% endblock %}
