{% extends 'base.html.twig' %}

{% block body %}
    <h1>Список университетов</h1>

    <table bordercolor="blue" border="1">
        <thead align="center">
            <tr>
                <th>Id</th>
                <th>Название</th>
                <th>Адрес</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody align="center">
        {% for university in universities %}
            <tr>
                <td><a href="{{ path('university_show', { 'id': university.id }) }}">{{ university.id }}</a></td>
                <td>{{ university.name }}</td>
                <td>{{ university.address }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('university_show', { 'id': university.id }) }}">Показать</a>
                        </li>
                        <li>
                            <a href="{{ path('university_edit', { 'id': university.id }) }}">Обновить</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('university_new') }}">Создать новый университет</a>
        </li>
    </ul>
{% endblock %}
