{% extends 'base.html.twig' %}

{% block body %}
    <h1>Университет</h1>

    <table bordercolor="blue" border="1">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ university.id }}</td>
            </tr>
            <tr>
                <th>Название</th>
                <td>{{ university.name }}</td>
            </tr>
            <tr>
                <th>Адрес</th>
                <td>{{ university.address }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('university_index') }}">Назад к списку</a>
        </li>
        <li>
            <a href="{{ path('university_edit', { 'id': university.id }) }}">Обновить</a>
        </li>
        <li>
            <a href="{{ path('university_delete', { 'id': university.id }) }}">Удалить</a>
        </li>
    </ul>
{% endblock %}
